services:
  # Using local PostgreSQL database
  # Connection: postgresql://simpleaccounts_db_user:SimpleAccounts@2023@host.docker.internal:5432/simpleaccounts_db

  backend:
    container_name: simpleaccounts-backend
    build: ../../apps/backend
    image: simpleaccounts-backend:latest
    restart: always
    ports:
      - "8080:8080"
    environment:
      SIMPLEACCOUNTS_SMTP_USER: ${SIMPLEACCOUNTS_SMTP_USER}
      SIMPLEACCOUNTS_SMTP_PASS: ${SIMPLEACCOUNTS_SMTP_PASS}
      SIMPLEACCOUNTS_SMTP_HOST: ${SIMPLEACCOUNTS_SMTP_HOST}
      SIMPLEACCOUNTS_SMTP_PORT: ${SIMPLEACCOUNTS_SMTP_PORT}
      SIMPLEACCOUNTS_SMTP_AUTH: ${SIMPLEACCOUNTS_SMTP_AUTH}
      SIMPLEACCOUNTS_SMTP_STARTTLS_ENABLE: ${SIMPLEACCOUNTS_SMTP_STARTTLS_ENABLE}
      SIMPLEACCOUNTS_RELEASE: ${BACKEND_RELEASE}
      SIMPLEACCOUNTS_HOST: ${BACKEND_HOST_INTERNAL}
      SIMPLEACCOUNTS_DB_HOST: ${SIMPLEACCOUNTS_DB_HOST}
      SIMPLEACCOUNTS_DB: ${SIMPLEACCOUNTS_DB}
      SIMPLEACCOUNTS_DB_USER: ${SIMPLEACCOUNTS_DB_USER}
      SIMPLEACCOUNTS_DB_PASSWORD: ${SIMPLEACCOUNTS_DB_PASSWORD}
      SIMPLEACCOUNTS_DB_PORT: ${SIMPLEACCOUNTS_DB_PORT}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - simpleaccounts-network

  frontend:
    container_name: simpleaccounts-frontend
    build: ../../apps/frontend
    image: simpleaccounts-frontend:latest
    restart: always
    ports:
      - "80:80"
    environment:
      SIMPLEACCOUNTS_RELEASE: ${FRONTEND_RELEASE}
      SIMPLEACCOUNTS_HOST: ${FRONTEND_HOST_PUBLIC}
    depends_on:
      - backend
    networks:
      - simpleaccounts-network

networks:
  simpleaccounts-network:
    driver: bridge