services:
  # Using local PostgreSQL database
  # Connection: postgresql://simpleaccounts_db_user:SimpleAccounts@2023@host.docker.internal:5432/simpleaccounts_db

  backend:
    container_name: simpleaccounts-backend
    image: ghcr.io/datainn/simpleaccounts-backend-ae:blue.berry.81
    restart: always
    ports:
      - "8080:8080"
    environment:
      SIMPLEVAT_SMTP_USER: ""
      SIMPLEVAT_SMTP_PASS: ""
      SIMPLEVAT_SMTP_HOST: ""
      SIMPLEVAT_SMTP_PORT: ""
      SIMPLEVAT_SMTP_AUTH: ""
      SIMPLEVAT_SMTP_STARTTLS_ENABLE: ""
      SIMPLEVAT_RELEASE: blue.berry.81
      SIMPLEVAT_HOST: http://backend:8080
      SIMPLEVAT_DB_HOST: host.docker.internal
      SIMPLEVAT_DB: simpleaccounts_db
      SIMPLEVAT_DB_USER: simpleaccounts_db_user
      SIMPLEVAT_DB_PASSWORD: SimpleAccounts@2023
      SIMPLEVAT_DB_PORT: 5432
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - simpleaccounts-network

  frontend:
    container_name: simpleaccounts-frontend
    image: ghcr.io/datainn/simpleaccounts-frontend-ae:blue.berry.112
    restart: always
    ports:
      - "80:80"
    environment:
      SIMPLEVAT_RELEASE: blue.berry.112
      SIMPLEVAT_HOST: http://localhost:8080
    depends_on:
      - backend
    networks:
      - simpleaccounts-network

networks:
  simpleaccounts-network:
    driver: bridge
