// Neumorphic Variables
$body-bg: #e0e5ec;
$body-color: #44476a;

$card-bg: #e0e5ec;
$card-border-width: 0;
$card-border-radius: 1rem;

$input-bg: #e0e5ec;
$input-border-width: 0;
$input-color: #44476a;
